

/* FIGMA values wasn't macthing my display size. that is why i did this project in respect of 1600px display size in figma mentioned. the project will be visible perfectly in 80% display size. */


/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Google fonts */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}

/* Nav css start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  margin: 31px;
  width: 222px;
  height: 38px;
  line-height: 38px;
}
nav button {
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
  margin: 24px;
}
nav button a {
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  width: 56px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
}

/* Nav css end */

/* Banner part css start */

.banner {
  height: 560px;
  margin-top: 20px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.banner .banner-text {
  width: 622px;
  height: 325px;
  margin: 117.5px 0px 117.5px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner .banner-text h3 {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  height: 29px;
  line-height: 29px;
}

.banner .banner-text p {
  height: 201px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  width: 616px;
  margin: 16px 0px 24px;
}

.banner .banner-text button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  width: 270px;
  height: 56px;
  padding: 17px 34px 17px 34px;
  margin-bottom: 117.5px;
  border: none;
}

.banner .banner-text button a {
  width: 202px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  display: flex;
}

.banner .banner-pic {
  width: 474.03px;
  height: 400px;
  margin: 80px 60px 80px 0px;
}
/* Banner part css end */

/* pillar part css start */

.pillar {
  height: 324px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.pillar h3 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  height: 48px;
}

.pillar .pillar-gallery {
  height: 244px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.pillar-card {
  width: 302px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.pillar-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}
.pillar-card-text h4 {
  height: 24px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.pillar-card-text p {
  width: 254px;
  height: 72px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* pillar part css end */

/* vision part css start */

.vision {
  margin: 80px 0px;
  height: 765px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
}
.vision-text {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 32px;
}
.vision-text h3 {
  height: 48px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.vision-text p {
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.vision-card-gallery {
  height: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.vision-card {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}
.vision-card-text {
  width: 346.67px;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.vision-card-text h4 {
  height: 24px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.vision-card-text p {
  height: 72px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.vision-card button {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border: none;
  background: rgb(84, 144, 245);
}
.vision-card button a {
  width: 82px;
  height: 19px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
}
.vc2 {
  background: rgb(198, 228, 214);
}
.vc2 p {
  height: 48px;
}
.vc2 button {
  background: rgb(9, 161, 92);
  margin-top: 16px;
}
.vc3 {
  background: rgb(247, 235, 207);
  padding: 24px;
  justify-content: center;
}
.vc3 h4,
.vc3 p {
  width: 362.67px;
}
.vc3 button {
  background: rgb(255, 194, 57);
}

/* Quote part start */
.vision-quote {
  height: 256px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  background-image: url("assets/quote-bg.png");
  background-position: left 24px top 24px;
  background-repeat: no-repeat;
}

.quote-text {
  height: 96px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.quote-name {
  height: 24px;
  margin-top: 12px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.quote-desig {
  height: 24px;
  margin-top: 4px;
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Quote part end */

/* vision part css end */

/* news part css start */
.news {
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.news h1 {
  height: 48px;
  margin-bottom: 24px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.news p {
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.news-card {
  display: flex;
  gap: 32px;
  padding: 48px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}
.news-card img {
  height: 306px;
  border-radius: 24px;
}
.news-card-text {
  width: 744px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.news-card-text h3 {
  height: 38px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.news-card-text img {
  width: 134px;
  height: 40px;
  margin: 12px 0px;
}
.date-time {
  margin-bottom: 12px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.date {
  height: 24px;
  width: 122px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.time {
  height: 24px;
  width: 105px;
  margin-left: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.news-card-text p {
  width: 744px;
  height: 72px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.news-card-text button {
  width: 139px;
  height: 48px;
  border: none;
  padding: 13px 26px 13px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgb(0, 106, 80);
}
.news-card-text button a {
  display: flex;
  text-decoration: none;
  width: 87px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.nc-2 {
  flex-direction: row-reverse;
  margin-top: 24px;
}
/* news part css end */

/* donate part css start */

.donate {
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.d-text {
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.d-text h1 {
  height: 48px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.d-text p {
  width: 1104px;
  margin: auto;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.d-money {
  width: 1071px;
  height: 128px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.d-m1 {
  width: 240px;
  height: 128px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.d-m1 h1 {
  width: 160px;
  height: 48px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.d-m2 {
  background: rgb(198, 228, 214);
}
.d-m1:hover {
  background: rgb(198, 228, 214);
}
.d-m2:hover {
  background: rgb(0, 106, 80);
}
.d-m-i{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.d-input input {
  width: 1032px;
  height: 64px;
  padding: 20px 0px;
}
.d-input input[placeholder] {
  height: 24px;
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
.donate button {
  width: 151px;
  height: 56px;
  padding: 17px 34px 17px 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);
}
.donate button a {
  display: flex;
  height: 22px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
/* donate part css end */

/* newsletter part css start */

.newsletter {
  margin-top: 80px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}
.newsletter h3 {
  width: 622px;
  height: 48px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.newsletter p {
  margin-top: 16px;
  width: 622px;
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.s-input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 55px;
  margin-top: 24px;
}
.s-input input {
  margin-top: 24px;
  border: none;
  width: 520px;
  height: 19px;
  padding: 18px 40px 18px 40px;
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
}
.s-input button {
  border: none;
  width: 150px;
  height: 55px;
  padding: 17px 34px 17px 34px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
}
.s-input button a {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.newsletter h4 {
  margin-top: 25px;
  width: 622px;
  height: 19px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
/* newsletter part css end */
